<div style="display: flex;justify-content: center;">
  <mat-grid-list cols="1" rowHeight="800px" gutterSize="0px">

    <mat-card class="card-container">
      <mat-card-title>Connexion</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email  " matInput [(ngModel)]=email>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input type="password" matInput [(ngModel)]=password>
      </mat-form-field>
      <button mat-raised-button (click)="connexion()">
        Connexion
      </button>
    </mat-card>
  </mat-grid-list>
</div>
