<div class="wrapper">
  <div class="login">
    <div class="login__container">

      <div class="login__logo"><h1><img src="/assets/logomini.png" /> InvestProyect</h1></div>
      <div class="login__container__title2"><h2> Bienvenue</h2></div>
      <div class="login__container__socialbuttons">
        <div class="login__container__socialbuttons__button">
          <app-invest-button [logoImage] ="'assets/g_logo.svg'" label="Continuer avec Google" (click)="connexionGoogle()"
                             [raised]="false"></app-invest-button>
        </div>
        <div class="login__container__socialbuttons__button">
          <app-invest-button [logoImage] ="'assets/m_logo.png'" label="Continuer avec Meta" (click)="connexionFacebook()"
                             [raised]="false"></app-invest-button>
        </div>
      </div>
      <div class="login__container__or-divider">
        <mat-divider style="width: 50%"></mat-divider>
        <div class="login__container__or-divider___or">
          <span>ou</span>

        </div>
        <mat-divider style="width: 50%">></mat-divider>
      </div>

      <div class="login__form">
        <div class="login__container__form___field">
          <label>Adresse e-mail</label>
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Entrez votre adresse e-mail</mat-label>
            <input type="email" matInput [(ngModel)]=email autocomplete="on">
          </mat-form-field>
        </div>
        <div class="login__container__form___field">
          <label>Mot de passe</label>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Entrez votre mot de passe</mat-label>
            <input type="password" matInput [(ngModel)]=password autocomplete="on">
          </mat-form-field>
        </div>
        <div class="login__container__form___bottom_container">
          <app-invest-button label="Connexion" (click)="connexion()" [fullWidth]=false
                             color="accent"></app-invest-button>
          <div class="login__container__form___bottom_container_forgot-pwd">
            <a routerLink="/forgot-password">Mot de passe oublié ?</a>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="login__container__form___not-account-yet">
          Pas encore de compte ? <a routerLink="/signup">Ouvrir un compte</a>
        </div>
      </div>
    </div>

  </div>
  <div class="image-hero">
  </div>


</div>

