.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  padding-right: 120px;
}



.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}

.spacer {
  flex: 0.9;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

button {
  min-width: 80px;
  margin-inline: 20px;
}

.links {
  width: fit-content;
}

.site-title {
  cursor: pointer;
}

.profile-pic {
  border-radius: 100px;
  width: 60%;
}
