<ng-container *ngIf="this.project.inputs" style="margin-inline: 300px" xmlns="http://www.w3.org/1999/html">
  <form (ngSubmit)="saveProject()" [formGroup]="projectForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom du projet</mat-label>
      <input matInput type="string"
             [formControlName]="'name'"
             [id]="'name'">
    </mat-form-field>
    <div class='flex'>
      <div>
        <mat-stepper orientation="vertical" [linear]="false" #stepper>
          <mat-step>
            <ng-template matStepLabel>Le bien</ng-template>
            <div class="block">
              <div class="block-content">
                <div *ngFor="let houseFormField of houseFormFields">
                  <mat-form-field [appearance]="houseFormField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{houseFormField.label}}</mat-label>
                    <input matInput type="{{houseFormField.controlType}}"
                           [formControlName]="houseFormField.key"
                           [id]="houseFormField.key"
                           (input)="calculateResults()"
                           [readonly]=houseFormField.readonly
                    >
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Crédit</ng-template>
            <div class="block">
              <div class="block-content">
                <div *ngFor="let loanFormField of loanFormFields">
                  <mat-form-field [appearance]="loanFormField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{loanFormField.label}}</mat-label>
                    <input matInput type="{{loanFormField.type}}"
                           [formControlName]="loanFormField.key"
                           [id]="loanFormField.key"
                           [readonly]=loanFormField.readonly
                           (input)="calculateResults()"
                    />
                  </mat-form-field>
                </div>

              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
              <button type="button" mat-stroked-button matStepperPrevious>Retour</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Dépenses</ng-template>
            <div class="block">
              <div class="block-content">

                <div *ngFor="let expensesFormField of expensesFormFields">
                  <mat-form-field [appearance]="expensesFormField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{expensesFormField.label}}</mat-label>
                    <input matInput type="{{expensesFormField.type}}"
                           [formControlName]="expensesFormField.key"
                           [id]="expensesFormField.key"
                           [readonly]=expensesFormField.readonly
                           (input)="calculateResults()"
                    />
                  </mat-form-field>
                </div>

              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
              <button type="button" mat-stroked-button matStepperPrevious>Retour</button>
            </div>
          </mat-step>

        </mat-stepper>
      </div>
      <div>
        <span>Résultat</span>
        <div class="block">
          <div class="block-content">
            <div *ngFor="let resultFormField of resultFormFields">
              <mat-form-field [appearance]="resultFormField.readonly ? 'standard' : 'outline'">
                <mat-label>{{resultFormField.label}}</mat-label>
                <input matInput type="{{resultFormField.type}}"
                       [formControlName]="resultFormField.key"
                       [id]="resultFormField.key"
                       [readonly]=resultFormField.readonly
                />
              </mat-form-field>
            </div>

          </div>
        </div>
        <button mat-stroked-button type="submit" [disabled]="!projectForm.valid">
          <mat-icon style="color: black">save</mat-icon>
          <div *ngIf="this.project.id != null ; else elseBlock">Mettre à jour</div>
          <ng-template #elseBlock>Créer</ng-template>
          <span></span>
        </button>
      </div>
    </div>

  </form>
</ng-container>




