<ng-container *ngIf="this.project.inputs" style="margin-inline: 300px" xmlns="http://www.w3.org/1999/html">

  <mat-form-field appearance="outline">
    <mat-label>Nom du projet</mat-label>
    <input matInput [(ngModel)]=this.project.name>
  </mat-form-field>
  <mat-stepper orientation="vertical" [linear]="false" #stepper>
    <mat-step>
      <ng-template matStepLabel>Le bien</ng-template>
      <div class="block">
        <div class="block-content">
          <mat-form-field appearance="outline">
            <mat-label>Nombre de chambres</mat-label>
            <input matInput type="number" [(ngModel)]="this.project.inputs.nbChambre"
                   (ngModelChange)="calculateProjectOutputs()">
            <mat-icon matSuffix>king_bed</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Loyer par chambre</mat-label>
            <input matInput type="number" [step]=10
                   placeholder="0" [(ngModel)]="this.project.inputs.prixChambre"
                   (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>bedroom_parent</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Taxe Foncière
            </mat-label>
            <input matInput type="number" [(ngModel)]="this.project.inputs.tf"
                   (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>money_off</mat-icon>

          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Travaux</mat-label>
            <input matInput type="number"
                   placeholder="0"
                   [(ngModel)]="this.project.inputs.travaux" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>construction</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Meubles
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]=this.project.inputs.meubles (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>chair</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Prix achat</mat-label>
            <input matInput type="number"
                   placeholder="90000"
                   [(ngModel)]="this.project.inputs.prix" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>home</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Notaire
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.notaire">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>gavel</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Chasse
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="project.inputs.chasse" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Vacance locative
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="project.inputs.vacance" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>mois&nbsp;</span>
            <mat-icon matSuffix>search</mat-icon>

          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-stroked-button matStepperNext>Suivant</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Crédit</ng-template>
      <div class="block">
        <div class="block-content">

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Durée</mat-label>
            <input matInput type="number" [step]=1000
                   placeholder="90000"
                   [(ngModel)]="this.project.inputs.dureeCredit" (ngModelChange)="calculateProjectOutputs()">
            <mat-icon matSuffix>schedule</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Taux</mat-label>
            <input matInput type="number" [step]=0.1 placeholder="90000"
                   [(ngModel)]="this.project.inputs.loanRate" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>%&nbsp;</span>
            <mat-icon matSuffix>percent</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>Apport</mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.apport" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>volunteer_activism</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Total emprunté
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.totalEmprunte">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>euro</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Crédit
            </mat-label>
            <input disabled matInput
                   [ngModel]="project.outputs.monthlyLoan"
            >
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>

        </div>
      </div>
      <div>
        <button mat-stroked-button matStepperNext>Suivant</button>
        <button mat-stroked-button matStepperPrevious>Retour</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dépenses</ng-template>
      <div class="block">
        <div class="block-content">

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Copro
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.copro" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>people</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Impots
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.impots" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>money_off</mat-icon>

          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              entretien
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.entretien" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>build</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              CFE
            </mat-label>
            <input matInput type="number" type="number"
                   [(ngModel)]="this.project.inputs.cfe" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>business</mat-icon>

          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              autre
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.autre" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              PNO
            </mat-label>
            <input matInput type="number"
                   [(ngModel)]="this.project.inputs.pno" (ngModelChange)="calculateProjectOutputs()">
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Taxe Foncière mensuelle
            </mat-label>
            <input disabled matInput [ngModel]="project.outputs.tfMensuelle" type="number"/>
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>money_off</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Gestion du bien 8%
            </mat-label>
            <input disabled matInput type="number"
                   [(ngModel)]="project.outputs.gestion">
            <span matPrefix>€&nbsp;</span>
            <mat-icon matSuffix>support_agent</mat-icon>

          </mat-form-field>
        </div>
      </div>
      <div>
        <button mat-stroked-button matStepperNext>Suivant</button>
        <button mat-stroked-button matStepperPrevious>Retour</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Résultat</ng-template>
      <div class="block">
        <div class="block-content">

          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Dépenses totales
            </mat-label>
            <input disabled matInput [ngModel]="project.outputs.monthlyExpenses"/>
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Loyer mensuel
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.monthlyRent">
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <mat-form-field [ngClass]="getCashflowClassName()" appearance="outline" floatLabel="always">
            <mat-label>
              Cashflow
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.cashflow">
            <span matPrefix>€&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Rendement Brut
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.rendementBrut">
            <span matPrefix>%&nbsp;</span>
          </mat-form-field>
          <mat-form-field appearance="outline" floatLabel="always">
            <mat-label>
              Rendement Net
            </mat-label>
            <input matInput type="number" disabled
                   [(ngModel)]="project.outputs.rendementNet">
            <span matPrefix>%&nbsp;</span>
          </mat-form-field>


        </div>
        <button mat-stroked-button (click)="saveProject()">
          <mat-icon style="color: black">save</mat-icon>
          <div *ngIf="this.project.id != null ; else elseBlock">Mettre à jour</div>
          <ng-template #elseBlock>Créer</ng-template>
          <span></span>
        </button>
      </div>
    </mat-step>
  </mat-stepper>


</ng-container>




