<ng-container *ngIf="this.project.inputs" style="margin-inline: 300px" xmlns="http://www.w3.org/1999/html">
  <form (ngSubmit)="saveProject()" [formGroup]="projectForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom du projet</mat-label>
      <input matInput type="string"
             [formControlName]="'name'"
             [id]="'name'">
    </mat-form-field>
    <div class='flex'>
      <div>
        <mat-stepper orientation="vertical" [linear]="false" #stepper>
          <mat-step>
            <ng-template matStepLabel>Le bien</ng-template>
            <div class="block">
              <div class="block-content">
                <div *ngFor="let houseInputField of houseInputFields">
                  <mat-form-field [appearance]="houseInputField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{houseInputField.label}}</mat-label>
                    <input matInput type="{{houseInputField.controlType}}"
                           [formControlName]="houseInputField.key"
                           [id]="houseInputField.key"
                           (input)="calculateResults()"
                           [readonly]=houseInputField.readonly
                    >
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Crédit</ng-template>
            <div class="block">
              <div class="block-content">
                <div *ngFor="let loanInputField of loanInputFields">
                  <mat-form-field [appearance]="loanInputField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{loanInputField.label}}</mat-label>
                    <input matInput type="{{loanInputField.type}}"
                           [formControlName]="loanInputField.key"
                           [id]="loanInputField.key"
                           [readonly]=loanInputField.readonly
                           (input)="calculateResults()"
                    />
                  </mat-form-field>
                </div>

              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
              <button type="button" mat-stroked-button matStepperPrevious>Retour</button>
            </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Dépenses</ng-template>
            <div class="block">
              <div class="block-content">

                <div *ngFor="let expensesInputField of expensesInputFields">
                  <mat-form-field [appearance]="expensesInputField.readonly ? 'standard' : 'outline'">
                    <mat-label>{{expensesInputField.label}}</mat-label>
                    <input matInput type="{{expensesInputField.type}}"
                           [formControlName]="expensesInputField.key"
                           [id]="expensesInputField.key"
                           [readonly]=expensesInputField.readonly
                           (input)="calculateResults()"
                    />
                  </mat-form-field>
                </div>

              </div>
            </div>
            <div>
              <button type="button" mat-stroked-button matStepperNext>Suivant</button>
              <button type="button" mat-stroked-button matStepperPrevious>Retour</button>
            </div>
          </mat-step>

        </mat-stepper>
      </div>
      <div>
        <span>Résultat</span>
        <div class="block">
          <div class="block-content">
            <div *ngFor="let resultInputField of resultInputFields">
              <mat-form-field [appearance]="resultInputField.readonly ? 'standard' : 'outline'">
                <mat-label>{{resultInputField.label}}</mat-label>
                <input matInput type="{{resultInputField.type}}"
                       [formControlName]="resultInputField.key"
                       [id]="resultInputField.key"
                       [readonly]=resultInputField.readonly
                />
              </mat-form-field>
            </div>

          </div>
        </div>
        <button mat-stroked-button type="submit" [disabled]="!projectForm.valid">
          <mat-icon style="color: black">save</mat-icon>
          <div *ngIf="this.project.id != null ; else elseBlock">Mettre à jour</div>
          <ng-template #elseBlock>Créer</ng-template>
          <span></span>
        </button>
      </div>
    </div>

  </form>
</ng-container>




