<div class="left-menu">
  <button mat-raised-button mat-button routerLink="/account/dashboard" routerLinkActive="active">

    <mat-icon>dashboard</mat-icon>
    <span>
      Tableau de bord
    </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/personalData" routerLinkActive="active">
    <mat-icon>person</mat-icon>

    <span>
      Données personelles
  </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/investProfile" routerLinkActive="active">
    <mat-icon>euro</mat-icon>

    <span>
      Profil investisseur
  </span>
  </button>
</div>
