.light-yellow-input {
  ::ng-deep .mat-form-field-flex {
    background-color: $light-yellow;
  }
}

.light-green-input {
  ::ng-deep .mat-form-field-flex {
    background-color: $light-green;
  }
}

.light-red-input {
  ::ng-deep .mat-form-field-flex {
    background-color: $light-red;
  }
}
