<div style="margin-inline: 300px" *ngIf="fullUser" class="card-container">
  <div class="dashboard-data-container">
    <mat-card class="dashboard-data-column">
      <mat-card-title>Infos personnelles</mat-card-title>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input disabled matInput [(ngModel)]="fullUser.email">
      </mat-form-field>
      <div *ngIf="!fullUser.emailVerified">
        <mat-label>Email non validé
          <mat-icon>close</mat-icon>
        </mat-label>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="fullUser.firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input matInput [(ngModel)]="fullUser.lastName">
      </mat-form-field>
      <button mat-raised-button (click)="updateUser()">
        <mat-icon mat-list-icon>save</mat-icon>
      </button>
    </mat-card>
    <mat-card class="dashboard-projects-column">
      <mat-card-title>Mes projets</mat-card-title>

      <mat-list>
        <mat-list-item *ngFor="let project of fullUser.projects">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{project.name}}</div>
          <div mat-line> {{ project.updated ? this.datePipe.transform(project.updated, 'dd-MM-yyyy') : "" }}
            <button mat-raised-button (click)="deleteProject(project.id!!)">
              <mat-icon mat-list-icon>delete</mat-icon>
            </button>
            <button mat-raised-button (click)="goToProject(project.id!!)">
              <mat-icon mat-list-icon>edit</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>


    </mat-card>
  </div>


</div>
