<div *ngIf="loans">
  <div class="dashboard-data-container">
    <mat-card>
      <div class="sticky-buttons">
        <mat-card-title>Vos crédits</mat-card-title>

        <button mat-raised-button mat-button (click)="this.creationMode = true">
          <mat-icon>add</mat-icon>
          <span>Ajouter un crédit</span>

        </button>
        <button *ngIf="creationMode" mat-raised-button mat-button (click)="this.creationMode = false">
          <mat-icon>remove</mat-icon>
          <span></span>
        </button>
      </div>
      <div class="table-and-creation-wrapper">
        <div *ngIf="creationMode" class="revenu-creation-mode">
          <mat-form-field appearance="outline">
            <mat-label>Nom du crédit</mat-label>
            <input matInput placeholder="Salaire Air-France" [(ngModel)]="newIcome.name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Prélèvement mensuel</mat-label>
            <input matInput type="number" placeholder="2400" [(ngModel)]="newIcome.value">
            <span mat-prefix>€</span>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select [(value)]="this.newIcome.type">
              <mat-option *ngFor="let type of loanTypesKeys" [value]="type">
                {{loanTypes[type]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button (click)="saveNewLoan()">
            <mat-icon mat-list-icon>save</mat-icon>
          </button>
        </div>

        <table mat-table [dataSource]="this.loans" class="mat-elevation-z8" *ngIf="this.loans">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nom</th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="type">

            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element"> {{loanTypes[element.type]}} </td>
          </ng-container>

          <ng-container matColumnDef="value">

            <th mat-header-cell *matHeaderCellDef>Crédit mensuel</th>
            <td mat-cell *matCellDef="let element"> -{{element.value}} €</td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-button (click)="deleteLoan(element.id!!)">
                <mat-icon mat-list-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>


    </mat-card>
  </div>
</div>
