@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/@angular/material/theming';

/**
  Override deeppurple-amber styles
 */
$light-green: rgba(162, 255, 143, 0.24);
$light-red: rgba(255, 143, 143, 0.24);


snack-bar-container.success {
  background-color:$light-green;
  color: black;
}

snack-bar-container.error {
  background-color:$light-red;
  color: black;

}
