<div class="left-menu">
  <button mat-raised-button mat-button routerLink="/account/dashboard" routerLinkActive="active">

    <mat-icon>leaderboard</mat-icon>
    <span>
      Synthèse
    </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/projects" routerLinkActive="active">

    <mat-icon>dashboard</mat-icon>
    <span>
      Projets
    </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/personalData" routerLinkActive="active">
    <mat-icon>person</mat-icon>

    <span>
      Identité
  </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/incomes" routerLinkActive="active">
    <mat-icon>euro</mat-icon>

    <span>
      Revenus
  </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/loans" routerLinkActive="active">
    <mat-icon>credit_card</mat-icon>

    <span>
      Crédits
  </span>
  </button>
  <button mat-raised-button mat-button routerLink="/account/houses" routerLinkActive="active">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>
      Biens Immobilier
  </span>
  </button>
</div>
